/* Imports */
@import url(style.css);

/* Absolute Elements */
.member-navigation {
	position: fixed;
	top: 50%;
	right: 1em;
	z-index: 2;

	transform: translateY(-50%);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	height: 12em;
	width: 3em;
}
.member-navigation .dot {
	cursor: pointer;

	background-color: var(--touch-of-mint);

	height: 1em;
	width: 1em;

	border-radius: 50em;
}

/* Member Elements */
.member-container {
	position: absolute;
	top: 0em;
	left: 0em;
	z-index: 0;

	opacity: 0;

	height: 300vh;
	width: 100%;
}
.member-container .member-panel {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100%;
}

.basic-panel .profile-image {
	height: 20em;
	width: 15em;

	box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.alpuerto .profile-image {
	background: url(../resources/pictures/alpuerto.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.avecilla .profile-image {
	background: url(../resources/pictures/avecilla.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.gutierrez .profile-image {
	background: url(../resources/pictures/gutierrez.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.neri .profile-image {
	background: url(../resources/pictures/neri.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.oliveros .profile-image {
	background: url(../resources/pictures/oliveros.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.selosa .profile-image {
	background: url(../resources/pictures/selosa.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.viterbo .profile-image {
	background: url(../resources/pictures/viterbo.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.basic-panel .profile-info {
	position: relative;
	left: 3em;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	height: 20em;
	width: 30em;
}
.profile-info .header {
	color: var(--eva-green);
}
.profile-info .opacitated {
	position: relative;
	top: -0.5em;

	opacity: 0.75;
}
.profile-info .body-text {
	position: relative;
	top: -2em;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 10em;
	width: 75%;

	margin: 0em auto;

	text-align: center;
}

.basic-panel .surname-display {
	position: absolute;
	bottom: 0.5em;
}
.surname-display .title {
	color: var(--vantablack);

	font-size: 6rem;
}

.contact-panel {
	position: absolute;
	bottom: 1em;
	left: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	height: 17em;
	width: 3em;
}
.contact-panel .line-theme {
	height: 4em;
}
.contact-panel .contact-icon {
	cursor: pointer;

	height: 2em;
	width: 2em;
}
.contact-icon.facebook {
	background: url(../resources/icons/facebook.png);
	background-size: cover;
}
.contact-icon.twitter {
	background: url(../resources/icons/twitter.png);
	background-size: cover;
}
.contact-icon.instagram {
	background: url(../resources/icons/instagram.png);
	background-size: cover;
}
.alpuerto.resume-image {
	background: url(../resources/pictures/resume-alpuerto.png);
	background-size: contain;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.resume-text {
	position: absolute;
	left: -7.5em;
	bottom: 10em;

	color: var(--eva-green);

	rotate: 90deg;
}
.alpuerto.speech-image {
	background: url(../resources/pictures/speech-alpuerto.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.avecilla.resume-image {
	background: url(../resources/pictures/avecilla-resume.png);
	background-size: contain;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.avecilla.speech-image {
	background: url(../resources/pictures/avecilla-speech.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.gutierrez.resume-image {
	background: url(../resources/pictures/gutierrez-resume.jpg);
	background-size: contain;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.gutierrez.speech-image {
	background: url(../resources/pictures/gutierrez-speech.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 31em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.neri.resume-image {
	background: url(../resources/pictures/neri-resume.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.neri.speech-image {
	background: url(../resources/pictures/neri-speech.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.oliveros.resume-image {
	background: url(../resources/pictures/oliveros-resume.jpg);
	background-size: contain;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.oliveros.speech-image {
	background: url(../resources/pictures/oliveros-speech.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.selosa.resume-image {
	background: url(../resources/pictures/selosa-resume.png);
	background-size: contain;
	background-repeat: no-repeat;

	height: 31em;
	width: 22em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.selosa.speech-image {
	background: url(../resources/pictures/selosa-speech.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}

.viterbo.resume-panel {
	justify-content: space-evenly;
}
.viterbo.resume-image-1 {
	position: relative;
	left: 4em;

	background: url(../resources/pictures/viterbo-resume-1.png);
	background-size: cover;
	background-repeat: no-repeat;

	height: 31em;
	width: 24em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.viterbo.resume-image-2 {
	position: relative;
	right: 4em;

	background: url(../resources/pictures/viterbo-resume-2.png);
	background-size: cover;
	background-repeat: no-repeat;

	height: 31em;
	width: 24em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
.viterbo.speech-image {
	background: url(../resources/pictures/viterbo-speech.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	height: 30em;
	width: 26em;

	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.5);
}
